@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Public+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Navbar=========================================== */
nav {
  display: flex;
  background: rgb(0, 81, 99);
  justify-content: space-around;
  /* padding: 20px 0; */
  color: aliceblue;
  height: 60px;
  align-items: center;
}
h2 {
  text-align: center;
}
nav .logo {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 0.8em;
}
nav ul li a:hover {
  color: rgb(56, 248, 165);
}
/* Humburger menu===================== */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 41px;
  height: 29px;
  left: -6px;
  top: -1px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: flex;
  width: 30px;
  height: 3px;
  background: aliceblue;
  border-radius: 3px;
  transition: all 0.75s;
}

/* Humburger menu animasi */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-3px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
/* RWD */

/* Tablet */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: #000;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
